@media screen and (max-width: 400px) {
  .hero {
    padding: 20px;
  }
  .nav__item {
    padding: 10px;
  }
  .post-item {
    width: 90%;
  }
  .post-item__description {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media screen and (min-width: 1000px) {
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .posts {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
