@media screen and (max-width: 450px) {
  .hero {
    padding: 20px;
  }
  .nav__item {
    padding: 10px;
  }

  .headline__description {
    font-size: 20px;
  }

  .post-item {
    width: 90%;
  }
  .post-item__description {
    font-size: 18px;
  }

  #drawer {
    width: 250px;
    height: 100%;
    position: absolute;
    /* menyembunyikan #drawer -250px (sesuai dengan ukuran lebar drawer) ke kiri */
    transform: translate(-250px, 0);
    transition: transform 0.3s ease-in-out;
    background-color: #111;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    padding: 25px;
  }
  .nav__item {
    padding: 13px;
  }
}

@media screen and (min-width: 800px) {
  .headline {
    grid-template-columns: 1fr;
  }
  .posts {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .headline {
    grid-template-columns: 1fr 1fr;
  }
  .posts {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
